application/config/database.php
application/logs/
assets/upload/real/
assets/upload/thumbs/
assets/upload/thumbs_all/
assets/upload/
assets/downloads/
uploads/
uploads/*
.DS_Store
.idea/
google-api-php-client/
.gitignore
index.php
application/modules/audit/
application/modules/hostels1
